[submodule "over9000"]
	path = over9000
	url = https://github.com/mgrankin/over9000.git
[submodule "TorchModelModifier"]
	path = TorchModelModifier
	url = https://github.com/kouyoumin/TorchModelModifier.git
